.chat {
  background: #6C95FD1E;
  height: 63vh;
  padding: 22px;
  border-radius: 6px;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    background-color: #6fa9a2;
  }
  &::-webkit-scrollbar-track {
    -webkit-box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
    background-color: #c9c9c9;
  }
  &::-webkit-scrollbar-thumb {
    background-color: #223c50;
    height: 1px;
    width: 1px;
    border-radius: 2px;
  }
}

