.list__item {
  background-color: #78898f94;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 13px 5px #78898fc7;
  margin-bottom: 30px;
  .item__link{
    background-color: #cfcbff;
    border-radius: 50%;
    display: flex;
    width: 93%;
    height: 15.3vh;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #242424;
    transition: 0.4s ease-in-out;
    &:hover {
      background-color: #efeef1;
      color: #c52a2a;
    }
  }
}