.profile__icon {
  width: 81px;
  height: 81px;
  background-image: url("./assets/default_profile.png");
  background-size: cover;
}

.input {
  outline: none;
  padding: 14px;
  color: #79747a;
  border-radius: 3px;
  border: none;
  font-size: 15px;
  margin-bottom: 11px;
}

.profile{
  padding: 13px;
  background-color: #298f96;
  margin-left: 20px;
  border-radius: 5px;
}

.profile__name {
  font-size: 22px;
  text-transform: capitalize;
  color: #282828;
  margin-bottom: 8px;
}

.profile__block {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px;
}

