@import "./variables";
@import "./mixin";
@import "./App";
@import "./index";
@import "./my_style";

//Стили для ДЗ №2
@import "./reactogram/main";
@import "./reactogram/chat";
@import "./reactogram/input";

